@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Black Ops One', 'cursive';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/body-background.png);
}

canvas {
    border: solid black;
    background-image: url(./images/background.gif);
}

.logo-img {
    width: 500px;
}

#start-button {
    background-color: white;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    box-shadow: 3px 3px;
    font-family: 'black ops one';
}

.game-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8c52ff ;
}

#instructions {
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #8c52ff ;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    color: black;
    padding: 20px;
    font-weight: 500;
}