* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: #8C52FF;
}

canvas {
    border: solid black;
}

#start-button {
    background-color: white;
    padding: 10px 20px 10px 20px;
}

.game-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}